#tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
  }

  .bar {
    fill: lightblue;
    transition: fill 0.2s;
  }

  .bar:hover {
    fill: darkblue;
  }